<div class="jumbotron">
    <h1>BudgetMe</h1>
    <p class="lead">Bienvenido a <strong>BudgetMe</strong> tu aplicacion donde puedes controlar de forma mas eficiente tu dinero</p>

    <a href="/Home/Login" class="btn btn-primary btn-lg">Iniciar sesión</a>
    <a href="/Home/Register" class="btn btn-primary btn-lg">Crear cuenta</a>
</div>